<%= form_for @user_currency_pair, class: 'col-sm-10', url: user_currency_pairs_path, method: :post  do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :base_currency, value: 'EUR' %>
  <div class="form-group col-sm-4">
    <%= f.label :amount, 'Amount' %>
    <%= f.number_field :amount, class: "form-control", placeholder: 'Amount', required: true %>
  </div>
  <div class="form-group col-sm-4">
    <%= f.label :target_currency, 'Target Currency' %>
    <%=
      f.select :target_currency,
               options_for_select(Constants::SUPPORTED_CURRENCIES, selected: @user_currency_pair.target_currency),
               { prompt: 'Please  select a currency' },
               class: "form-control md-7", required: true
    %>
  </div>
  <div class="form-group col-sm-4">
    <%= f.label :weeks, 'Duration' %>
    <%= f.number_field :weeks, class: "form-control", placeholder: 'Duration(in weeks)', required: true %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>
