<% @user_currency_pairs.each do |user_currency_pair| %>
  <tr>
    <th scope="row"><%= user_currency_pair.id %></th>
    <td><%= user_currency_pair.amount %></td>
    <td><%= user_currency_pair.base_currency %></td>
    <td><%= user_currency_pair.target_currency %></td>
    <td><%= user_currency_pair.weeks %></td>
    <td>
      <%= link_to 'Show', user_currency_pair_path(user_currency_pair), class: 'btn btn-success' %>
      <%= link_to 'Edit', edit_user_currency_pair_path(user_currency_pair), class: 'btn btn-info' %>
      <%= link_to 'Delete', user_currency_pair_path(user_currency_pair), method: :delete, class: 'btn btn-danger' %>
    </td>
  </tr>
<% end %>