<%= link_to 'New Currency Pair', new_user_currency_pair_path, class: 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Amount</th>
    <th scope="col">Base Currency</th>
    <th scope="col">Target Currency</th>
    <th scope="col">Weeks</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render 'user_currency_pairs' %>
  </tbody>
</table>