<div class="container col-sm-12">
  <div class="row">
    <div class="col-sm-8">
      <%= line_chart(
      @weekly_data.map{ |week_data| [week_data.week_start_date, week_data.rate.round(2)] },
      min: @weekly_data.find(&:lowest?).rate.round(2) - 1,
      max: @weekly_data.find(&:highest?).rate.round(2) + 1
      )
      %>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="card-header">
          Currency Pair Details
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Latest Price <%= @latest_rate.round(2) %></li>
          <li class="list-group-item">Base Currency: <%= @user_currency_pair.base_currency %></li>
          <li class="list-group-item">Target Currency: <%= @user_currency_pair.target_currency %></li>
          <li class="list-group-item">Amount: <%= @user_currency_pair.amount %></li>
          <li class="list-group-item">Weeks: <%= @user_currency_pair.weeks %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Year</th>
    <th scope="col">Week Number</th>
    <th scope="col">Week Start Date</th>
    <th scope="col">Rate</th>
    <th scope="col">Amount Valuation</th>
    <th scope="col">Profit/Loss</th>
  </tr>
  </thead>
  <tbody>
    <% @weekly_data.each do |weekly_data| %>
      <tr class="<%= weekly_data_css_class(weekly_data) %>">
        <th scope="row"><%= weekly_data.year %></th>
        <td><%= weekly_data.week_number %></td>
        <td><%= weekly_data.week_start_date %></td>
        <td><%= weekly_data.rate.round(2) %></td>
        <td><%= weekly_data.amount_valuation.round(2) %></td>
        <td><%= get_profit_loss(@latest_rate, weekly_data.rate) %></td>
      </tr>
    <% end %>
  </tbody>
</table>