<!DOCTYPE html>
<html>
  <head>
    <title>Arcanebet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'ArcaneBet', root_path, :class => 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              Logged in as <strong><%= current_user.email %></strong>.
            </li>
          <% end %>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-primary'  %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-info offset-sm-1'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
